APP_NAME=AsuhTrack
APP_URL=http://localhost/rekap-mukholif/public
APP_ENV=development
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_mukholif
DB_USER=root
DB_PASS=

SESSION_NAME=asuhtrack_sess
SESSION_LIFETIME=10800
